main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section img {
  width: 100%;
  max-width: 400px;
}