.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.movie {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie h3 {
  margin: 0;
  padding: 0;
}

.movie img {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}